[submodule "src/nalloc"]
	path = src/nalloc
	url = cmu:~apodolsk/repo/nalloc
[submodule "stacks"]
	path = src/stacks
	url = cmu:~apodolsk/repo/stacks
[submodule "lists"]
	path = src/lists
	url = cmu:~apodolsk/repo/lists
[submodule "nalloc"]
	path = src/nalloc
	url = cmu:~apodolsk/repo/nalloc
[submodule "linux_dialect"]
	path = src/linux_dialect
	url = cmu:~apodolsk/repo/linux_dialect
