[submodule "src/nalloc"]
	path = src/nalloc
	url = https://github.com/apodolsk/nalloc.git
[submodule "stacks"]
	path = src/stacks
	url = https://github.com/apodolsk/stacks.git
[submodule "lists"]
	path = src/lists
	url = https://github.com/apodolsk/lists.git
[submodule "nalloc"]
	path = src/nalloc
	url = https://github.com/apodolsk/nalloc.git
[submodule "linux_dialect"]
	path = src/linux_dialect
	url = https://github.com/apodolsk/linux_dialect.git
